.machine {
    width: 500px;
}

.itemsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #127;
    align-self: flex-start;
    padding: 10px 0;
}

.product-img {
    width: 90px;
    height: 90px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.menu {
    width: 400px;
}

.purchased-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 266px;
}

button {
    background: #20c9a8;
    border: 0;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
button:disabled {
    background: #9da8a0;
    cursor: not-allowed;
}

.user-balance button {
    margin-bottom: 5px;
}

.get-money {
    margin-top: 10px;
}
